* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: 'GFS Didot', serif;
}
.uni {
	text-decoration: none;
	color: black;
}
.myname {
	float: left;
}
.myface {
	width: 80%;
	height: 80%;
}
.ontop {
	float: top;
	padding: 0 20px 0;
}
.site-link{
	text-decoration: none;
	color: white;
}
#books, #papers {
   margin: auto;
   width: 80% !important;
}
#tabs{
	color: black;
	text-align: center;
}
#lyrics{
    display: none;
}
    
