a {
	text-decoration:none;
	color: black;
}
.my-name {
	font-family: GFS Artemisia;
}

.ontop {
	float: top;
	padding: 0 20px 0;
}
.in-site-link{
	color: white;
	background-color: #84848f;
	text-align: center;
	display: block;
	width: 80px;
	height: 24px;
}

